@import url('https://fonts.googleapis.com/css?family=Spinnaker');
//@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~ionicons/dist/scss/ionicons';
@import '~mdbootstrap/scss/mdb-free';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css';
@import '~datatables/media/css/jquery.dataTables.css';
@import '~ionicons/dist/css/ionicons.css';

@import 'kahaki';